body {
    font-family: Arial, sans-serif;
    background: #f6f6f6;
    padding: 20px;
}

h1 {
    color: #222;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 14px;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
